body{
    background:#f8f8f4;
    font-family:'Escoredream', sans-serif;
    color:#333;
}

.container{
    max-width:1000px;
    margin:80px auto;
}

.top-nav{
    display:flex;
    gap:15px;

    padding:15px 20px;

    background:white;

    border-radius:15px;

    box-shadow:
    0 5px 20px rgba(0,0,0,0.08);

    margin-bottom:30px;
}

.nav-btn{

    padding:10px 18px;

    border-radius:10px;

    text-decoration:none;

    color:#2f3a35;

    font-weight:600;
}

.nav-btn:hover{

    background:#f5f5f5;
}

.nav-btn.active{

    background:#5f7f63;

    color:white;
}

.box{

    background:white;

    border-radius:20px;

    padding:40px;

    box-shadow:
    0 10px 30px rgba(0,0,0,0.08);
}

button{

    background:#5f7f63;

    color:white;

    border:none;

    border-radius:10px;

    padding:14px 24px;

    font-family:'Escoredream';

    cursor:pointer;
}

button:hover{

    background:#415f4a;
}